<div class="error" style="font-size:large; height:100%; width:100%; display:flex; flex-direction:column; align-items:center; justify-content:center">
    <h1>404 Page Not Found</h1>
    <h2>Please Enter The Correct Url</h2>
</div>
