<!-- header -->
<header>
    <div class="phonenum">
        <p class="text">
            Have any questiones about diabetes? give us a call on
            <a href="tel: xxx xxxx">xxx xxxx</a>
        </p>
    </div>

    <div class="wrap">
        <div class="logo">
            <img src="../logo.png" class="custom-logo" />
        </div>
        <div class="headertext">
            <p class="name">Diabetes@home</p>
            <p class="slogan">We care about you</p>
        </div>
        <div class="login">
            <div class="patient">
                <a href="/home/patient_dashboard">Patient Login</a>
            </div>
            <div class="clinician">
                <a href="/home/clinician_dashboard">Clinician Login</a>
            </div>
        </div>
    </div>

    <nav class="main-navigation">
        <div class="top-a">
            <a href="/home/about-diabetes">What is diabetes</a>
        </div>
        <div class="top-a">
            <a href="#">About this website</a>
        </div>
        <div class="top-a">
            <a href="tel: xxx xxxx">Contact us</a>
        </div>

    </nav>
</header>

<!-- background image -->
<img src="../diabetes-foto.jpg" class="background" />

<!-- introductions on the top -->
<div class="top-content">
    <p id="header">
        About Diabetes@Home<br />
        An online diabetes management tool for both patients and clinicians.
    </p>
    <p id="intro">
        Nowadays, the healthcare industry has undergone profound changes due to
        the impact of the ongoing global pandemic. This web app has been built
        up for easier access and monitoring patients' health status remotely,
        for both patients and clinicians, as well as providing a great platform
        for clinicians to giving the latest health advice to their patients in a
        more smooth and convenient way.<br /><br />
        You need to login to your account to get access to our services. For
        people with diabetes or those who need blood glucose monitoring, you can
        easily access our services anywhere through different devices, no matter
        you wish to use your handheld, tablet, or access from your PC.
    </p>
</div>

<!-- text content -->
<div class="content">
    <div class="text">
        <p class="heading">For patients</p>
        <p class="paragraph">
            You can get your account by contacting your clinician. After login
            you can log your daily data about blood sugar and activity data, and
            hence to analysis your recent trend. Different data categories might
            be required by your clinicians depending on your health status.
            Supports will also be easier to be accessed. Patients will receive
            messages from their clinicians when needed. Patients are also
            encouraged to be engaged with the application. You will be getting
            digital badge if you are being engaged and a leaderboard will show 5
            patients who have the highest engagement rate.<br /><br />
        </p>
        <p class="heading">For clinicians</p>
        <p class="paragraph">
            If you are a physician, you can provide your own credentials and log
            up as a clinician. You can get an overview of your patients in the
            dashboard, and click on a patient to see his or her details. You can
            also provide safe ranges based on patients' recent data and send
            messages to your patients.<br /><br />
        </p>
        <p class="heading">About us</p>
        <p class="paragraph">
            This web application was developed by ProjectGroup24, which are
            Computing and Software Systems students at the
            <a target="blank" href="https://www.unimelb.edu.au/">University of
                Melbourne</a>. We hope you stay safe and well.<br /><br />
        </p>
    </div>
</div>