<!-- header -->
<header>
    <div class="phonenum">
        <p class="text">
            Have any questiones about diabetes? give us a call on
            <a href="tel: xxx xxxx">xxx xxxx</a>
        </p>
    </div>

    <div class="wrap">
        <div class="logo">
            <img src="../logo.png" class="custom-logo" />
        </div>
        <div class="headertext">
            <p class="name">Diabetes@home</p>
            <p class="slogan">We care about you</p>
        </div>
        <div class="login">
            <div class="patient">
                <a href="/home/patient_dashboard">Patient Login</a>
            </div>
            <div class="clinician">
                <a href="/home/clinician_dashboard">Clinician Login</a>
            </div>
        </div>
    </div>

    <nav class="main-navigation">
        <div class="top-a">
            <a href="#">What is diabetes</a>
        </div>
        <div class="top-a">
            <a href="/home/about-this-website">About this website</a>
        </div>
        <div class="top-a">
            <a href="tel: xxx xxxx">Contact us</a>
        </div>

    </nav>
</header>

<!-- background image -->
<img src="../diabetes-foto.jpg" class="background" />

<!-- data on the top -->
<div class="top-content">
    <p id="heading">Data around the World:</p>
    <p id="data">
        The number of people with diabetes rose from 108 million in 1980 to 537
        million in 2021.<br />
        Diabetes is a major cause of blindness, kidney failure, heart attacks,
        stroke and lower limb amputation.<br />
        From 2019, diabetes has become the ninth leading cause of death with an
        estimated 1.5 million deaths directly caused by diabetes.<br />
        Diabetes can be treated and its consequences avoided or delayed with
        diet, physical activity, medication and regular screening and treatment
        for complications.
    </p>
</div>

<div class="content">
    <!-- text on the left -->
    <div class="text">
        <p class="heading">Overview</p>
        <p class="paragraph">
            Diabetes is a disease that occurs either when the pancreas does not
            produce enough insulin or when the body cannot effectively use the
            insulin to regulates blood sugar. uncontrolled blood sugar usually
            lead to serious damage to many of the body's systems, especially the
            nerves and blood vessels. There are three main types of diabetes:
            type 1, type 2, and gestational diabetes (diabetes while pregnant).<br
            /><br />
            Type 1 diabetes is thought to be caused by an autoimmune reaction
            (the body attacks itself by mistake). It's Symptoms often develop
            quickly and Currently no one knows how to prevent it.<br /><br />
            About 90-95% of people with diabetes have type 2. It develops slowly
            and is usually diagnosed in elder adults. You may not notice any
            symptoms, so it's important to get your blood sugar tested if you're
            at risk. Type 2 diabetes can be prevented or delayed with healthy
            lifestyle changes.<br /><br />
            Gestational diabetes develops in pregnant women who have never had
            diabetes. It usually goes away after your baby is born but increases
            your risk for type 2 diabetes later in life.<br /><br />
        </p>
        <p class="heading">Health impact</p>
        <p class="paragraph">
            Over time, diabetes can damage the heart, blood vessels, eyes,
            kidneys, and nerves.<br /><br />
            1. Adults with diabetes have a two- to three-fold increased risk of
            heart attacks and strokes(1).<br />
            2. Combined with reduced blood flow, neuropathy (nerve damage) in
            the feet increases the chance of foot ulcers, infection and eventual
            need for limb amputation.<br />
            3. Diabetic retinopathy is an important cause of blindness, and
            occurs as a result of long-term accumulated damage to the small
            blood vessels in the retina. Close to 1 million people are blind due
            to diabetes(2).<br />
            4. Diabetes is among the leading causes of kidney failure(3).<br
            /><br />
        </p>
        <p class="heading">Prevention</p>
        <p class="paragraph">
            The good news is early diagnosis can be accomplished through
            relatively inexpensive testing of blood sugar, and inventions that
            are feasible include:<br /><br />
            1. blood glucose and blood pressure control.<br />
            2. foot care (maintaining foot hygiene; wearing appropriate
            footwear; and regular examination of feet by health professionals).<br
            />
            3. screening and treatment for retinopathy (which causes blindness);<br
            />
            4. blood lipid control (to regulate cholesterol levels);<br />
            5. screening for early signs of diabetes-related kidney disease and
            treatment.<br />
        </p>
    </div>

    <!-- videos and links on the right -->
    <div class="resources">
        <p class="heading">Resources</p>
        <div class="video">
            <div class="video-body">
                <iframe
                    src="https://www.youtube.com/embed/wZAjVQWbMlE"
                    allowfullscreen="allowfullscreen"
                    title="What Is Diabetes?"
                ></iframe>
            </div>
            <a
                class="video-text"
                href="https://www.youtube.com/watch?v=wZAjVQWbMlE"
            >What Is Diabetes? | 2 Minute Guide</a>
        </div>
        <div class="video">
            <div class="video-body">
                <iframe
                    src="https://www.youtube.com/embed/xlxVZhjfo6s"
                    allowfullscreen="allowfullscreen"
                    title="Mike's Prediabetes Journey"
                ></iframe>
            </div>
            <a
                class="video-text"
                href="https://www.youtube.com/watch?v=xlxVZhjfo6s"
            >The good news: prediabetes can be reversed.
                <br />Watch Mike's story</a>
        </div>
        <div class="video">
            <div class="video-body">
                <iframe
                    src="https://www.youtube.com/embed/2yMCmP6CxuE"
                    allowfullscreen="allowfullscreen"
                    title="How to prevent type 2 diabetes"
                ></iframe>
            </div>
            <a
                class="video-text"
                href="https://www.youtube.com/watch?v=2yMCmP6CxuE"
            >How to prevent type 2 diabetes | Pat's Story</a>
        </div>
        <p class="heading" id="links">Useful links:</p>
        <a
            class="links"
            href="https://www.healthline.com/health/diabetes#symptoms"
        >Diabetes: Symptoms, Causes and Prevention<br /></a>
        <a
            class="links"
            href="https://www.who.int/news-room/fact-sheets/detail/diabetes"
        >Diabetes - WHO | World Health Organization<br /></a>
        <a class="links" href="https://en.wikipedia.org/wiki/Diabetes">Diabetes
            - Wikipedia</a>
    </div>
</div>