<header>
    <div class="top-bar">
        <div class="return">
            <a href="/home/patient_dashboard">
                <i class="bx bx-chevron-left btn"></i>
            </a>
        </div>
        <div class="name">Change password</div>
    </div>
</header>

<form class="login" action="/home/patient_dashboard/changePassword" method="post" onsubmit="return toVaild()">
    <div class="info_block">
        <label for="newPassword">New Password</br>
        <input
            id="newPassword"
            name="newPassword"
            type="password"
            minlength="8" 
            required
        />
    </div>

    <div class="info_block">
        <label for="confirmPassword">Confirm Password</br>
        <input
            id="confirmPassword"
            name="confirmPassword"
            type="password"
            minlength="8" 
            required
        />
    </div>

    <div>
        <button type="submit">Confirm</button>
    </div>
</form>

<script language="javascript">
    function toVaild() {
        var password = document.getElementById("newPassword").value;
        var confirm = document.getElementById("confirmPassword").value;

        if (password != confirm) {
            alert("Please enter the same password to confirm");
            return false;
        }
        return true;
    }
</script>