<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/homepage.css" />
    </head>

    <body>
        <main>
            {{{body}}}
        </main>

        <footer>
            <div class="text">Copyright © 2022 Diabetes@home</div>
        </footer>
    </body>
</html>