<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <script src="/public/js/patient_entity.js"></script>

        <link rel="stylesheet" href="/css/patient/entry-today.css" />
        <link rel="stylesheet" href="/css/patient/entity.css" />
        <link rel="stylesheet" href="/css/patient/dashboard.css" />
        <link rel="stylesheet" href="/css/auth.css" />
        <link
            href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
            rel="stylesheet"
        />
    </head>

    <body>
        <main>
            {{{body}}}
        </main>

        <footer>
            <p class="text">Copyright © 2022 Diabetes@home</p>
        </footer>
    </body>
</html>